#pageheader {
    background-color: rgb(3, 193, 193);
    padding: 10px;
    color: white; 
    font: bold 25px "Times New Roman";
    position: relative;
    
}

#landing_container {
    margin-left: 100px;
    
}

#navbarNavDropdown {
    position: relative;

}

.comp {
    padding-top: 30px;
}

.compare {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.dropdown-toggle {
    color: black;
    position:relative;
    top: 8px;
    right: 5px;
}


.nav-item {
    color: black;
}

.navlist {
    align-items: right;
}








h2 {
    background-color: white;
    padding-top: 15px;
    color: rgb(3, 193, 193); 
    font-family: "Times New Roman";
    font-weight: bold;
    
}

h3 {
    background-color: white;
    padding-top: 15px;
    color: rgb(3, 193, 193); 
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 28px;
    padding: 9px;
}

tbody {
    text-align: center;
}